<div ng-controller="formController">
			<div class="form-group">
				<label>Userid:</label>			
				<input class="form-control" ng-model="userid"/>
			</div>
			<div class="form-group">
				<label>Label:</label>			
				<input class="form-control" ng-model="label"/>
			</div>
			<div class="form-group">
				<label>Type	:</label>
				<select class="form-control" ng-model="type">
					<option selected value="language">Language</option>
					<option value="tool">Tool</option>
					<option value="technique">Technique</option>
				</select>
			</div>
			<div class="form-group">
				<label>Opinion	:</label>
				<select class="form-control" ng-model="opinion">
					<option selected value="adopt">Adopt</option>
					<option value="assess">Assess</option>
					<option value="hold">Hold</option>
					<option value="trial">Trial</option>
				</select>
			</div>
			<div class="form-group">
				<button class="form-control" ng-click="submit()">Submit</button>
			</div>
</div>