<div ng-controller="radarController">
		<div><b>Techniques</b></div>
		<hr/>
		<ul style="list-style-type:none">
		<div ng-repeat="technique in response.technique">
			<li>
				<div>
					<label>Label:</label>
					<span>{{technique.label}}</span>
				</div>
				<div>
					<label>Opinion:</label>
					<span>{{technique.opinion}}</span>
				</div>
				<div>
					<label>Supported by:</label>
					<span>{{tool.support}}</span>
				</div>
			</li>
			<hr/>
		</div>
		</ul>
		<div><b>Tools</b></div>
		<hr/>
		<ul style="list-style-type:none">
		<div ng-repeat="tool in response.tool">
			<li>
				<div>
					<label>Label:</label>
					<span>{{tool.label}}</span>
				</div>
				<div>
					<label>Opinion:</label>
					<span>{{tool.opinion}}</span>
				</div>
				<div>
					<label>Supported by:</label>
					<span>{{tool.support}}</span>
				</div>
			</li>
			<hr/>
		</div>
		</ul>
		<div><b>Languages</b></div>
		<hr/>
		<ul style="list-style-type:none">
		<div ng-repeat="language in response.language">
			<li>
				<div>
					<label>Label:</label>
					<span>{{language.label}}</span>
				</div>
				<div>
					<label>Opinion:</label>
					<span>{{language.opinion}}</span>
				</div>
				<div>
					<label>Supported by:</label>
					<span>{{tool.support}}</span>
				</div>
			</li>
			<hr/>
		</div>
		</ul>
</div>