<html>
	<head>
		<title>Mangekyou</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
		<script type="text/javascript" src="//underscorejs.org/underscore-min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.3/d3.min.js' type='text/javascript' > </script>
		<script type="text/javascript" src="js/view.js"></script>
		<script type="text/javascript" src="js/change.js"></script>
		<script type="text/javascript" src="js/radar.js"></script>
		<script type="text/javascript" src="js/money.js"></script>
		<script type="text/javascript" src="js/trending.js"></script>
	</head>
	<body class="container" ng-app ="Mangekyou">
		<div class="row" ng-controller="viewController">
			<a href="#" ng-click="menu = 'entry'">Entry</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" ng-click="menu = 'change'">Change</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" ng-click="menu = 'radar'">Radar</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" ng-click="menu = 'ads'">Ads</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
			<a href="#" ng-click="menu = 'trending'">Trending</a>
			<div ng-switch on="menu">
				<div ng-switch-when="entry">
					<div  ng-include="'partials/entry.html'"></div>
				</div>
				<div ng-switch-when="change">
					<div  ng-include="'partials/change.html'"></div>
				</div>
				<div ng-switch-when="radar">
					<div  ng-include="'partials/radar.html'"></div>
				</div>
				<div ng-switch-when="ads">
					<div ng-include="'partials/money.html'"></div>
				</div>
				<div ng-switch-when="trending">
					<div ng-include="'partials/trending.html'"></div>
				</div>
			</div>
		</div>
	</body>
</html>
